<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>  
    <div class=everything> 
    {{>header}}
<p> 404 eu sou sua vida amorosa</p>
    </div>
    {{>footer}}

</body>
</html>