<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>  
    <div class=everything> 
    {{>header}}
<p>essa pagina eh sobre estilo e moda, primavera verao, verao verao, inverno verao, e outras modas assim</p>
    <img class=portrait src="/img/carne.jpg">
    </div>
    {{>footer}}

</body>
</html>