<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>  
    <div class=everything> 
    {{>header}}
<p>eu sou a pagina do cramunhao, teu cu vai pegar fogo AGORA</p>
    </div>
    {{>footer}}

</body>
</html>