<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>  
    <div class=everything> 
    {{>header}}
<p>estou recebendo ondas cosmologicas e preparando o resultado da sua astrologia</p>
    </div>
    {{>footer}}

</body>
</html>