<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>  
    <div class=everything> 
    {{>header}}
<p>estou recebendo ondas cosmologicas e preparando o resultado da sua astrologia</p>
    <img src="img/flat.gif" id=astroImg>
    <form id=astro>
                <button>tape o umbigo e clique aqui</button>
        </form>
        
    <p id=astroMessage1>
        </p>        
    <p id=astroMessage2>
        </p>
    <p id=astroMessage3>
        </p>        
    <p id=astroMessage4>
        </p>
    <p id=astroMessage5>
        </p>
    </div>
    <script src="/js/astro.js"></script>
    {{>footer}}

</body>
</html>