<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>  
    <div class=everything> 
    {{>header}}
<p>Bencao online</p>
    <form id=bencaForm>
                <button>Clique aqui pra ser abencoado</button>
        </form>
        <p id=bencaTexto>
        </p>
    </div>
    <script src="/js/benca.js"></script>
    {{>footer}}

</body>
</html>