<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>  
    <div class=everything> 
    {{>header}}
<p>essa pagina e o terror da sua tia</p>

        <form id=namo>
                <button>clique aqui pra namorar</button>
        </form>
        <p id=namoMsg1>
        </p>
        <img src="img/null.jpg" id=namoImg>
        <p id=namoMsg2>
        </p>

    </div>
    {{>footer}}
    <script src="/js/namo.js"></script>

</body>
</html>