<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>  
    <div class=everything> 
    {{>header}}
<p>grandes pensadores comentam pq o brasil n vai pra frente</p>

    <form id=news>
                <button>clique aqui pra opiniao do especialista</button>
        </form>
        <p id=newsMessage1>
        </p>
        <p id=newsMessage2>
        </p>
    </div>
    <script src="/js/news.js"></script>
    {{>footer}}

</body>
</html>