<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
    
</head>


<body>  
    <div class=everything> 
    {{>header}}
    
<p> vai filhao</p>
<p id=between></p>
<form id=pudolbtn>
                <button>gerar certificado de pudol</button>
        </form>
        <p id=pudolTexto>
        </p>
         <img src="img/nullinho.jpg" id=assImage>
    </div>

      {{>footer}}
<script id=canva type="text/javascript" src="/js/pudol.js"></script>
</body>
</html>

