<header>


<h1>{{title}}</h1>

<div>
    <a href="/">weather</a>
    <a href="/about">about</a>
    <a href="/help">HEEELP</a>
    <a >mundial do paumeir</a>
    <a href="/news">analise do brasil</a>
    <a href="/astro">gerador de astrologias</a>
    <a href="/deus">deus online</a>
    <a href="/namo">gerador de namorado</a>



</div>

</header>
